body {
  background-image: url('https://img.freepik.com/free-vector/data-security-technology-background-vector-blue-tone_53876-112201.jpg?t=st=1723821198~exp=1723824798~hmac=908312498882229695c0291dfeec167837b10a422478443340718730adcbc6fc&w=1060'); /* Replace with your image URL */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keep the image fixed during scrolling */
    background-repeat: no-repeat; /* Prevent image repetition */
    font-family: Arial, sans-serif;
    color: #0c0536;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
}


.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #5b568f; /* White background color for the container */
  border-radius: 10px;
  box-shadow: 0 px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visual separation */
}

/* Heading styles */
h1 {
  font-family: 'Georgia', 'Times New Roman', 'serif'; /* Use system serif fonts */
  font-weight: bold; /* Bold weight */
  color: #000000;
}

h2 {
  font-family: 'Gill Sans', 'Sans-serif'; /* Use system serif fonts */
  font-weight: bold; /* Bold weight */
  color: #000000;
}

button {
  background-color: #007bff; /* Blue background color for buttons */
  color: #fff; /* White text color */
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

button#quizBtn {
  background-color: #28a745; /* Green background color for the quiz button */
}

button#quizBtn:hover {
  background-color: #218838; /* Darker green on hover for quiz button */
}

button#passwordGenBtn {
  background-color: #17a2b8; /* Teal background color for the password generator button */
}

button#passwordGenBtn:hover {
  background-color: #138496; /* Darker teal on hover for password generator button */
}

button#infoGuideBtn {
  background-color: #b77313; /* Yellow background color for the info guide button */
}

button#infoGuideBtn:hover {
  background-color: #e0a800; /* Darker yellow on hover for info guide button */
}

.content {
   background: rgba(245, 250, 110, 0.5); /* Semi-transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
