<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cybersecurity Interface</title>
        <link rel="stylesheet" href="static/styles.css">
        </head>
    <body>
        <div class="container">
            <h1>THE DIGITAL FORTRESS</h1>
            <button id="quizBtn">Quiz</button>
            <button id="passwordGenBtn">Password Generator</button>
            <button id="infoGuideBtn">Information Guide</button>
            <button id="passwordsstrenghtBtn">Check Password Strength</button>

            
        <div id="content" class="content"></div>
     </div>

     <footer id="footer">
        <p>THE DIGITAL FORTRESS provide you an interface to ensure a safe and secure working enivorment everytime on the internet </p>
        <p>you can use be aware by reading our information guide also can play a short quiz</p>
        <p>Also you can Check the Strengths of Your password and Generate a same one for you</p>
        <p>&copy; 2024 Cybersecurity Quiz App. All rights reserved.</p>
     </footer>
    

        <script src="static/scripts.js"></script>
    </body>
</html>
